asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
ColoreRegioni==0.2.0
dj-database-url==0.5.0
Django==3.1.7
django-autocomplete-light==3.8.2
django-comuni-italiani==1.4.1
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-mathfilters==1.0.0
django-unused-media==0.2.2
django-user-agents==0.4.0
gunicorn==20.1.0
idna==2.10
numpy==1.20.2
opencv-python==4.5.1.48
Pillow==8.1.2
psycopg2==2.8.6
python-decouple==3.4
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
ua-parser==0.10.0
urllib3==1.26.4
user-agents==2.2.0
whitenoise==5.2.0
